unless _.isEmpty(resume.last_works)
  .detail#work-experience
    .icon
      i.fs-lg.icon-office
      span.mobile-title Work Experience

    .info
      h4.title.text-uppercase Work Experience

      ul.list-unstyled.clear-margin
        each experience in resume.last_experiences
          li.card.card-nested.clearfix
            .content
              p.clear-margin.relative
                if !experience.endDate
                  i.icon-circle.current-event(
                    rel="tooltip",
                    title="Currently Working",
                    data-placement="left"
                  )
                strong= experience.position
                |,&nbsp;
                if experience.url
                  a(href=experience.url, target="_blank")= experience.name
                else
                  |#{experience.name}

              p.text-muted
                small
                  span.space-right
                    |#{experience.startDate} - #{experience.endDate || 'Present'}

                  if experience.duration
                    span
                      i.icon-clock.mr-5
                      |#{experience.duration}

              .mop-wrapper.space-bottom!= experience.summary

              unless _.isEmpty(experience.highlights)
                ul
                  each highlight in experience.highlights
                    li.mop-wrapper!= highlight
        if resume.remaining_experiences
          li.card.card-nested.clearfix
            .content
              p.clear-margin.relative
                - var count = resume.remaining_experiences.length
                strong= `${count == 1? 'one' : count} other ${count == 1? 'experience' : 'experiences'}`

                p.text-muted
                  small
                    span.space-right
                      |between #{resume.remaining_experiences.slice(-1)[0].startDate} and #{resume.remaining_experiences[0].endDate}
          